@import '../../../mixins';
@import '../../../variables';

.footerContainer{
  height: 432px;
  width: 100vw;
  background: $btnBoxColor;
  display: flex;
  justify-content: space-around;
  font-family: $mainFont;
  color: $white;
  @media screen and (max-width: 768px){
    height: 332px;
    margin: 0;
  }
}

.links{
  height: 214px;
  width: 233px;
  margin: 109px 0;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 970px){
    width: 320px;
    padding-left: 0;
  }
  @media screen and (max-width: 768px){
    margin: 50px 0;
  }
}
.contacts{
  height: 214px;
  width: 333px;
  margin: 109px 109px 0 0;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 970px){
    margin: 109px 50px 0 0;
  }
 
  @media screen and (max-width:840px){
    margin: 109px 20px 0 0;
  }
  @media screen and (max-width:768px){
    margin: 50px 20px 0 0;
  }
}

.imgFooter img{
  height: 100%;
  width: 400px;
  margin: 0 auto;
  display: block;
  @media screen and (max-width: 794px){
    display: none;
  }
}

 li span{
  display: block;
  color: $white;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  @media screen and (max-width: 440px){
    font-size: 12px;
    line-height: 24px;
  }
}

ul {
  list-style: none;
  @media screen and (max-width: 320px){
    padding-left: 10px;
  }
  li{
    mix-blend-mode: normal;
    display: flex;
    justify-content: column;
    a{
      display: block;
      color: $white;
      font-size: 14px;
      line-height: 30px;
      font-weight: bold;
      text-align: left;
      text-decoration: none;
      span:hover {
        color: #E0461B;
        transition: color 400ms ease-out;
      }
    }
  }
}

.workTime{
  font-size: 14px;
  line-height: 20px;
  @media screen and (max-width: 910px){
    font-size: 12px;
    line-height: 18px;
  }
  @media screen and (max-width: 768px){
    font-size: 14px;
    line-height: 20px;
  }
  @media screen and (max-width: 440px){
    font-size: 10px;
    line-height: 16px;
  }
}
.wrapperService{
  font-size: 14px;
  line-height: 20px;
  @media screen and (max-width: 853px){
    font-size: 13px;
    line-height: 18px;
  }
  @media screen and (max-width: 768px){
    font-size: 14px;
    line-height: 20px;
  }
  @media screen and (max-width: 440px){
    font-size: 10px;
    line-height: 16px;
  }
}
.phone{
  display: flex;
  height: 30px;
  width: 100%;
  span{
    margin-left: 10px;
    @media screen and (max-width: 500px){
      margin-left: 0;
    }
    @media screen and (max-width: 853px){
      font-size: 12px;
      line-height: 18px;
    }
    @media screen and (max-width: 768px){
      font-size: 14px;
      line-height: 20px;
    }
    @media screen and (max-width: 440px){
      font-size: 10px;
      line-height: 26px;
    }
  }
  
}
.phoneIcon{
  font-size: 16px;
  margin-right: 10px;
  line-height: 30px;
  vertical-align: middle;
  @media screen and (max-width: 853px){
    font-size: 12px;
    line-height: 18px;
  }
  @media screen and (max-width: 768px){
    font-size: 16px;
    line-height: 30px;
  }
  @media screen and (max-width: 440px){
    font-size: 12px;
    line-height: 18px;
  }
}


