<footer>
    <div class="footerContainer">
        <div class="imgFooter">
            <img src="assets/images/doctor.svg" alt="">
        </div>
        <div class="links">
            <ul>
                <li>
                    <a [routerLink]="[ '/clinic']">
                        <span>Клініки</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/reform']">
                        <span>Медична реформа</span>
                    </a>

                </li>
                <li>
                    <a [routerLink]="[ '/about']">
                        <span>Про нас</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/contacts']">
                        <span>Контакти</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="contacts">
            <div class="wrapperService">
                <p>Cлужба технічної підтримки</p>
            </div>
            <ul>
                <li>
                    <div class="phone">
                        <div>
                            <fa-icon [icon]="iconPhone" class="phoneIcon"></fa-icon>
                        </div> 
                        <span>38 044 580-10-70</span>
                    </div>
                    
                </li>  
                <li>
                    <div class="phone">
                        <div>
                            <fa-icon [icon]="iconMobPhone" class="phoneIcon"></fa-icon>
                        </div> 
                        <span >38 068 580-10-70</span>
                    </div>
                </li> 
            </ul>
            <div class="workTime">
                Тільки з питань роботи порталу
                <br>
                Пн. - Пт. з 8:00 до 18:00
                <br>
                Сб. з 9:00 до 16:00
            </div>
        </div>
       
    </div>
</footer>

     

    
