<header class="header">
  <div class="leftSide">
    <div id="logo">
      <a [routerLink]="[ '/home']">
        <img src="assets/images/helsi-logo.svg">
      </a>
    </div>
  </div>
  <div class="navigation">
    <nav>
      <ul id="headerList">
        <li>
          <a class="headerLink" [routerLink]="[ '/clinic']">
            <span class="staticSpan">Клініки</span>
          </a>
        </li>
        <li>
          <a class="headerLink" [routerLink]="[ '/reform']">
            <span class="staticSpan">Медична реформа</span>
          </a>

        </li>
        <li>
          <a class="headerLink" [routerLink]="[ '/about']">
            <span class="staticSpan">Про нас</span>
          </a>
        </li>
        <li>
          <a class="headerLink" [routerLink]="[ '/contacts']">
            <span class="staticSpan">Контакти</span>
          </a>
        </li>
      </ul>
      <div *ngIf="!loginStatus" class="headerBtn">
        <a (click)="loginModal(loginForm)" >
            <span class="staticSpan">Увійти</span> </a>
      </div>
      <div *ngIf="loginStatus" class="headerBtn">
        <a  [routerLink]="[ '/'+loginUrl ]" >
          <span class="staticSpan">{{ loginName | titlecase }}</span> </a>
      </div>
    </nav> 
  </div>
  <div class="navigationAdaptive">
    <nav role="navigation" >
      <div id="menuToggle">
        <input id="checkbox" type="checkbox" (click)="openNav()" [checked]="isChecked"/>
        <span class="toggleBtn"></span>
        <span class="toggleBtn"></span>
        <span class="toggleBtn"></span>
        <ul id="menu"  class="menuList">
          <li>
            <a class="menuLink" [routerLink]="[ '/clinic']" (click)="closeNav()">
              <span class="burgerSpan">Клініки</span>
            </a>
          </li>
          <li>
            <a class="menuLink" [routerLink]="[ '/reform']" (click)="closeNav()">
              <span class="burgerSpan">Медична реформа</span>
            </a>
  
          </li>
          <li>
            <a class="menuLink" [routerLink]="[ '/about']" (click)="closeNav()">
              <span class="burgerSpan">Про нас</span>
            </a>
          </li>
          <li>
            <a class="menuLink" [routerLink]="[ '/contacts']" (click)="closeNav()">
              <span class="burgerSpan">Контакти</span>
            </a>
          </li>
          <li *ngIf="!loginStatus">
            <a class="menuLink" (click)="loginModal(loginForm)" (click)="closeNav()">
              <span class="burgerSpan">Увійти</span> </a>
          </li>
          <li *ngIf="loginStatus">
            <a class="menuLink" [routerLink]="[ '/'+loginUrl ]" (click)="closeNav()">
              <span class="burgerSpan" >{{ loginName | titlecase }}</span> </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>


<ng-template #loginForm>
  <div class="modal-body">
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form novalidate (ngSubmit)="registerUser()" >
          <h2>Створити акаунт</h2>
          <input class="inputForm" type="text" placeholder="Ім'я*" id="firstName" #userFirstName="ngModel"
            [(ngModel)]="firstName" name="firstName" required />
          <input class="inputForm" type="text" placeholder="Прізвище*" id="lastName" #userLastName="ngModel"
            [(ngModel)]="lastName" name="lastName" required>
          <input class="inputForm" type="email" placeholder="Емейл*" id="userEmail" #emailUser="ngModel"
            [(ngModel)]="userEmail" name="userEmail" required />
          <input class="inputForm" type="password" placeholder="Пароль*" id="userPassword" #passUser="ngModel"
            [(ngModel)]="userPassword" name="userPassword" required />
          <button class="signIN" type="submit"
            [disabled]="userFirstName.invalid || userLastName.invalid || emailUser.invalid || passUser.invalid">Зареєструватися</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form novalidate (ngSubmit)="loginUser()">
          <h2>Увійти</h2>
          <input class="inputForm" type="email" placeholder="Емейл*" id="userEmail" #emailUser="ngModel"
            [(ngModel)]="userEmail" name="userEmail" required />
          <input class="inputForm" type="password" placeholder="Пароль*" id="userPassword" #passUser="ngModel"
            [(ngModel)]="userPassword" name="userPassword" required />
          <button class="signIN" [disabled]="emailUser.invalid || passUser.invalid">Увійти</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>З поверненням!</h1>
            <p>Щоб підтримувати зв’язок з нами, увійдіть, ввівши свої особисті дані</p>
            <button class="ghost" id="signIn" (click)="signInClick()">Увійти</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Доброго дня!</h1>
            <p>Введіть свої особисті дані</p>
            <button class="ghost" id="signUp" (click)="signUpClick()">Зареєструватися</button>
          </div>
        </div>
      </div>
    </div>
    




    <div class="containerAdaptive">
      <div class="form-container sign-up-container-adaptive" *ngIf="switch">
        <form novalidate (ngSubmit)="registerUser()" >
          <h2>Створити акаунт</h2>
          <input class="inputForm" type="text" placeholder="Ім'я*" id="firstName" #userFirstName="ngModel"
            [(ngModel)]="firstName" name="firstName" required />
          <input class="inputForm" type="text" placeholder="Прізвище*" id="lastName" #userLastName="ngModel"
            [(ngModel)]="lastName" name="lastName" required>
          <input class="inputForm" type="email" placeholder="Емейл*" id="userEmail" #emailUser="ngModel"
            [(ngModel)]="userEmail" name="userEmail" required />
          <input class="inputForm" type="password" placeholder="Пароль*" id="userPassword" #passUser="ngModel"
            [(ngModel)]="userPassword" name="userPassword" required />
          <button class="signIN" type="submit"
            [disabled]="userFirstName.invalid || userLastName.invalid || emailUser.invalid || passUser.invalid">Зареєструватися</button>
        </form>
        <div class="adaptiveStyle">
          <button type="button" class="adaptiveBtn" (click)="switchForm()">Увійти</button>
        </div>
      </div>
      <div class="form-container sign-in-container-adaptive" *ngIf="!switch">
        <form novalidate (ngSubmit)="loginUser()">
          <h2>Увійти</h2>
          <input class="inputForm" type="email" placeholder="Емейл*" id="userEmail" #emailUser="ngModel"
            [(ngModel)]="userEmail" name="userEmail" required />
          <input class="inputForm" type="password" placeholder="Пароль*" id="userPassword" #passUser="ngModel"
            [(ngModel)]="userPassword" name="userPassword" required />
          <button class="signIN" [disabled]="emailUser.invalid || passUser.invalid">Увійти</button>
        </form>
       <div class="adaptiveStyle">
        <button type="button" class="adaptiveBtn" (click)="switchForm()">Зареєструватися</button>
       </div>
      </div>
    </div>
  </div>
</ng-template>