<section class="mainReform">
    <article class="reformTitle">
        <div class="reformTitleText">Реформа для пацієнтів</div>
    </article>
    <article class="reformForPeople">
        <div class="patientReform ">
            <div class="patientReformTitle">
                Що таке медична реформа для громадян України?
            </div>
            <div class="patientReformBlok first">
                <div class="info">
                    Згідно з Реформою Міністерства охорони здоров'я України, громадяни України повинні обрати сімейного
                    лікаря та підписати з ним декларацію про медичне обслуговування. Саме реформа дозволить реалізувати
                    принцип «гроші за пацієнтом», коли лікар отримуватиме оплату за надані послуги в залежності від
                    кількості підписаних декларацій і закріплених за ним пацієнтів.
                </div>
                <div class="imgContainer">
                    <img src="assets/images/steps-change-doctor.svg" alt="">
                </div>
            </div>
        </div>
    </article>
    <article class="chooseDoctor">
        <div class="patientReform">
            <div class="patientReformTitle">
                Як обрати лікаря?
            </div>
            <div class="patientReformBlok">
                <div class="imgContainer">
                    <img src="assets/images/steps-peoples.svg" alt="">
                </div>
                <div class="info">
                    Обрати сімейного лікаря та підписати з ним декларацію можна незалежно від місця проживання або
                    реєстрації. При виборі спеціаліста рекомендовано зважати на його стаж, компетенції, зручність
                    розташування його місця прийому, персональні якості, тощо.
                </div>
            </div>
        </div>
    </article>
    <article class="declaration">
        <div class="patientReform">
            <div class="patientReformTitle">
                Як підписати декларацію з сімейним лікарем?
            </div>
            <div class="patientReformBlok">
                <div class="imgContainerSheme">
                    <img src="assets/images/scheme-desktop.svg" alt="">
                </div>
                <div class="imgContainerTablet">
                    <img src="assets/images/scheme-tablet.svg" alt="" style=" width: 100%;
                    height: 1100px;">
                </div>
                <div class="imgContainerMobile">
                    <img src="assets/images/scheme-mobile.svg" alt="" style=" width: 100%;
                    height: 1100px;">
                </div>
            </div>
        </div>

    </article>
</section>