
@import '../../../mixins';
@import '../../../variables';
.aside {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  padding: 20px 0;
  margin: 25px;
  border:1px solid #67C3F3;
  border-radius: 5px;
  .asideList {
    list-style: none;
    .asideItem {
        margin-bottom: 10px;
      }
  }
}

li:last-child a{
  color: #ff0000;
  &:hover {
    color: $navHover;
  }
}
.asideLink {
  text-decoration: none;
  color: #3498db;
  &:hover {
    color: $navHover;
  }
}

.profileSection{
    display: flex;
    flex-direction: column;
    .profileImage{
        height: 20vh;
        width: 100vw;
        background:linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
        opacity: .7;
        position: relative;
        z-index: 1;
        @media (max-width: 1024px){
          height: 10vh;
      }
        .imageProfile{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            position: absolute;
            top: 40%;
            left: 4%;
            background-color: snow;
            opacity: 1;
            z-index: 2;
            @media screen and (max-width: 600px){ 
              top: 15%;
          }

        }
        .dataUser{
           height: 100px;
            width: 450px;
            position: absolute;
            top: 60%;
            left:16%;
            opacity: 1;
            z-index: 2;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            @media screen and (max-width: 1200px){
              height: 70px;
              top: 90%;
              left: 20%;
          } 
          @media screen and (max-width: 768px){ 
            left: 25%;
          }
          @media screen and (max-width: 600px){ 
            left: 35%;
          }
          @media screen and (max-width: 414px){ 
            left: 45%;
            width: 200px;
          }
        }
    }
}
.userName{
  height: 70px;
  background:transparent;
  font-family: "Montserrat-bold", sans-serif;
  font-size: 30px;
  line-height: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  @media screen and (max-width: 600px){ 
    font-size: 22px; 
}
}
.userEmail{
  height:30px;
  background: rgb(255, 255, 255)
}
.userDate{
    height: 10vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 375px){ 
      height: 15vh;
  }
}
.profileData{
    height: 100vh;
    width:80vw;
    @media (max-width: 1024px){
      height: 65vh;
    }
    @media (max-width: 768px){
      height: 85vh;
    }
    @media screen and (max-width: 600px){ 
      width:540px;
      height: 900px;
    }
    @media screen and (max-width: 414px){ 
      // width:400px;
      width:100vw;
      height: 900px;
    }
    @media screen and (max-width: 375px){ 
        width:300px;
        height: 900px;
      }
}

.rowAlign{
    display: flex;
    flex-direction: row;
    width: 100vw;
    @media (max-width: 600px){
      flex-direction: column;
    }
}

