<section>
    <article class="page-contacts container">
        <h1 class="text-title text-center">КОНТАКТИ</h1>
        <hr>
        <div class="formWrapper">
            <div class="formWrapperTitle">Контактна форма звернення до Helsi</div>
            <div class="wrapper">
                <div class="wrapperImg">
                    <img class="imgLeftSide" src="assets/images/question.png"  style="width: 100%; height: 100%;" alt="doctor">
                </div>
                <div class="feedbackForm">
                    <div>
                        <div class="formContainer">
                            <form>
                                <div>
                                    <div class="inputContainer">
                                        <div class="containerInput">
                                            <div class="box">Ваше ім'я та прізвище</div>
                                            <div class="inputBox">
                                                <input type="text" class="input" id="customerName" name="customerName"
                                                    placeholder="Вкажіть ваше ім'я та прізвище">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputContainer">
                                        <div class="emailPhone">
                                            <div class="containerInput">
                                                <div class="box">
                                                    Електронна пошта</div>
                                                <div class="inputBox">
                                                    <input type="email" class="input" id="customerEmail"
                                                        name="customerEmail" placeholder="Вкажіть ваш Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="emailPhone">
                                            <div class="containerInput">
                                                <div class="box">
                                                    Ваш телефон</div>
                                                <div class="inputBox">
                                                    <input type="tel" class="input" id="customerPhone"
                                                        name="customerPhone" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputContainer">
                                        <div class="containerInput">
                                            <div class="box">Тема
                                            </div>
                                            <div class="inputBox">
                                                <input type="text" class="input" id="summary" name="summary"
                                                    placeholder="Вкажіть тему звернення">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inputContainer">
                                        <div class="textarea">
                                            <div class="labelTextArea">
                                                Повідомлення</div>
                                            <div>
                                                <textarea class="textareaText" id="description" name="description"
                                                    placeholder="Текст Вашого звернення"
                                                    style="height: 162px;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="allFields">* Всі поля, позначені зірочкою,
                                        обов’язкові до заповнення.</div>
                                    <div class="buttonDoc">
                                        <button type="submit" class="docButton">НАДІСЛАТИ</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pageContactsContent">
            <div class="phonesContainer pageContactsContent-half">
                <div class="phones">
                    <h3 class="phones__title">Наша служба технічної підтримки:</h3>
                    <div class="phones__list">
                        <div class="phones__item">
                            <div>
                                <fa-icon [icon]="iconMobPhone" class="phoneIcon"></fa-icon>
                            </div>
                            <span>044 580-10-70</span>
                        </div>
                        <div class="phones__item">
                            <div>
                                <fa-icon [icon]="iconMobPhone" class="phoneIcon"></fa-icon>
                            </div>
                            <span>073 580-10-70</span>
                        </div>
                        <div class="phones__item">
                            <div>
                                <fa-icon [icon]="iconMobPhone" class="phoneIcon"></fa-icon>
                            </div>
                            <span>066 580-10-70</span>
                        </div>
                        <div class="phones__item">
                            <div>
                                <fa-icon [icon]="iconMobPhone" class="phoneIcon"></fa-icon>
                            </div>
                            <span>068 580-10-70</span>
                        </div>
                    </div>
                </div>
                <p class="text-center"><small>* Тільки з питань роботи порталу</small></p>
                <p class="text-center">Контакт-центр працює:<br>Пн. - Пт. з 8:00 до 18:00<br>Сб. з 9:00 до 16:00</p>
                <p class="text-center"><small>* Вартість дзвінків згідно з тарифами Вашого оператора зв'язку</small></p>
            </div>
        </div>
    </article>
</section>