<section class="aboutContainer">
    <article class="about">
        <div class="textTitle">
            <h1>Про HELSI</h1>
            <hr>
        </div>
        <div class="aboutContent">
            <h2>ЩО ТАКЕ HELSI.ME?</h2>
            <p>Це сучасна, зручна та надійна електронна медична система, створена для пацієнтів, лікарів,
                державних та приватних медичних закладів.</p>
            <h2>Helsi для пацієнтів</h2>
            <ul>
                <li>- Можливість легко знайти та обрати свого лікаря;</li>
                <li>- Швидкий запис на прийом on-line себе та членів своєї родини;</li>
                <li>- Доступ до своєї електронної медичної картки (ЕМК);</li>
                <li>- Миттєві результати аналізів та діагностики в кабінеті пацієнта;</li>
                <li>- Доступ до призначень лікаря та плану лікування.</li>
            </ul>
            <h2>Helsi для лікарів</h2>
            <ul>
                <li>- Зручне ведення історії хвороби пацієнтів та ЕМК;</li>
                <li>- Оперативне отримання результатів діагностики та аналізів;</li>
                <li>- Легке використання клінічних протоколів;</li>
                <li>- Зрозумілий кабінет для ведення прийому пацієнтів.</li>
            </ul>
            <h2>Helsi для медичних закладів</h2>
            <ul>
                <li>- Комплексна автоматизація роботи медичного закладу;</li>
                <li>- Можливість налаштування Helsi під потреби медзакладу;</li>
                <li>- Функціонал для участі в реформі (закріплення пацієнтів за лікарями, реєстрація декларацій
                    з пацієнтами);</li>
                <li>- Моніторинг та управлінська статистика для керівників;</li>
                <li>- Формування поточної звітності та статистики.</li>
            </ul>
            <h2>Можливості Helsi</h2>
            <ul>
                <li>- Автоматизація реєстратури та роботи лікаря;</li>
                <li>- Управління розкладом лікаря;</li>
                <li>- Ведення електронних медичних карток (ЕМК);</li>
                <li>- Облік медичних препаратів та ведення оплат;</li>
                <li>- Формування звітів та статистики;</li>
                <li>- Підтримка формату DICOM та стандарту HL7;</li>
                <li>- Конструктор бланків і форм;</li>
                <li>- Інтуїтивно зрозумілий веб-інтерфейс;</li>
                <li>- Гнучке налаштування прав доступу;</li>
                <li>- Фіксація дій користувачів;</li>
                <li>- Доступ пацієнтів до своєї електронної медичної картки (ЕМК);</li>
                <li>- Забезпечення надійного шифрування та безпека даних;</li>
                <li>- Портал з інформацією про лікарів, годинами їх прийому та адресами лікарень;</li>
                <li>- Підтримка для лікарів та пацієнтів від контакт-центру.</li>
            </ul>
            <h2>Безпека та конфіденційність</h2>
            <p>Helsi надійно захищає дані пацієнтів. Всі дані зберігаються у дата-центрі, який отримав
                сертифікат комплексної системи захисту інформації (КСЗІ) від Державної служби спеціального
                зв’язку та захисту інформації України.</p>
            <p>Обробка персональної інформації громадян відбувається в правовому полі України.</p>
            <h2>Про компанію</h2>
            <p>Компанія Helsi – це команда програмістів, операторів контакт-центру, аналітиків, спеціалістів з
                впровадження та консультантів. Ми щодня спілкуємося з пацієнтами, медиками, керівниками
                медзакладів для того, щоб розуміти їх потреби, вдосконалити систему та додати новий функціонал.
            </p>
        </div>
    </article>
</section>