@import '../../../mixins';
@import '../../../variables';

.wrap{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 1024px){
      top: 250px;
    }
    @media screen and (max-width: 970px){
      width: 90%;
      top: 35%;
    }
    @media screen and (max-width: 768px){
      top: 40%;
    }
    @media screen and (max-width: 600px){
      top: 300px;
    }
    @media screen and (max-width: 500px){
      top: 235px;
    }
    @media screen and (max-width: 375px){
      top: 216px;
  }
    .homeText{
      height: 120px;
      margin: 5px 0 5px;
      display: flex;
      flex-direction: column;
      opacity: .7;
      @media screen and (max-width: 1024px){
        height: 80px;
      }
      @media screen and (max-width: 768px){
        height: 30px;
      }
      @media screen and (max-width: 310px){
        height: 20px;
      }
      h1{
        font-size: 40px;
        font-family: $mainFont;
        font-weight: bolder;
        text-align: center;
        margin-top: 0px;
        @media screen and (max-width: 1024px){
          font-size: 30px;
        }
        @media screen and (max-width: 768px){
          font-size: 24px;
        }
        @media screen and (max-width: 659px){
          font-size: 22px;
        }
        @media screen and (max-width: 549px){
          font-size: 22px;
        }
        @media screen and (max-width: 310px){
          font-size: 18px;
        }
      }
    }
  }
.ng-autocomplete{
  width:100%;
  height: 100%;
}
.search{ 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    z-index: 2;
  }
 
  .searchTerm{
    width: 70%;
    height: 100%;
    max-width: 500px;    
    border: 3px solid $searchBtnColor;
    border-right: none;
    height: 46px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    background: #fff;
  }
  
  .searchButton {
    @include search-btn;
    width: 200px;
    height: 46px;
    border: 1px solid $searchBtnColor;
    background: $searchBtnColor;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    cursor: pointer;
    @media screen and (max-width: 768px){
      width: 50px;
    }
  }

   .radioChoose {
    @include transition(all .15s ease 0s);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    @media screen and (max-width: 768px){
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
 
  .radioChoose .item {
    width: 20%;
    @media screen and (max-width: 1300px){
      width: 23%;
    } 
     @media screen and (max-width: 1200px){
      width: 25%;
    } 
    @media screen and (max-width: 1024px){
      width: 23%;
    } 
    @media screen and (max-width: 970px){
      width: 20%;
    } 
    @media screen and (max-width: 768px){
      width: 80%;
      margin-left: 20px;
    }
    @media screen and (max-width: 540px) {
    width: 82%;
    margin-left: 11px;
}
    @media screen and (max-width: 375px){
      width: 88%;
      margin-left: 6px;
    }
  }
  p{
    @include search-btn;
    width: 97%;
    height: 50px;
    line-height: 20px;
    font-size: 16px;
    padding-top: .75em;
    @media screen and (max-width: 1200px){
      height: 30px;
      line-height: 16px;
      font-size: 12px;
    }
    }

  .radioChoose label {
    @include transition(all 100ms ease);
    @include grey-box-shadow;
    @include search-btn;
    cursor: pointer;
    width: 97%;
    margin: 0 auto;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    border: 2px solid $searchBtnColor;
    border-radius: 5px;
    color: #00B4CC;
    padding-top: 8px;
    @media screen and (max-width: 1200px){
      height: 30px;
      line-height: 16px;
      font-size: 12px;
      padding-top: 7px;
    }
  }

  .radioChoose .item label:hover {
    background-color: rgba(0, 180, 204, 0.5);
    color: rgb(137, 134, 134);
    transform: translate(0, 0.15em);
    -webkit-transform: translate3d(0, 0.15em, 0);
  }
  input:focus, input:active {
    transform: translate(0, 0em);
    -webkit-transform: translate3d(0, 0em, 0);
    background-color: rgba(0, 180, 204, 0.5);
    color: #fff;
    outline: 0;
  }
  .radioChoose .item label:active,   .radioChoose .item label:focus{
    color: #fff;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    transform: translate(0, 0.15em);
    -webkit-transform: translate3d(0, 0.15em, 0);
  }
  .titleDisplay{
    display: none;
    font-family: $mainFont;
    font-size: 20px;
    margin-top:10px;
    @media screen and (max-width: 768px){
     display: block;
    }
    @media screen and (max-width: 659px){
      margin-top:15px;
    }
    @media screen and (max-width: 549px){
      margin-top:20px;
    }
  }
  .buttonTitle{
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  .btnSrc{
    @media screen and (max-width: 768px){
      display: none;
    }
  }

  .autocomplete-container .suggestions-container{
    z-index: 20;
  }