$mainFont: "Montserrat-Regular";
$btnBoxColor: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
$btnColorHover: #4281df;


.container{
    width: 100%;
    min-height: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: flex-start;
    .card-grid {
        height: 100vh;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 5px 0;
        justify-content: flex-start;
    }
}
.card-doctor{
    display: flex;
    width: calc(30% - 15px);
    min-width: 450px;
    max-width: 4800px;
    min-height: 350px;
    max-height: 380px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 15px;
    background-color: rgb(250, 251, 251);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 0px;
    transition: box-shadow 0.1s linear 0s;
    @media screen and (max-width: 990px){ 
        min-width: 300px;
        max-width: 340px;
        min-height: 250px;
        max-height: 300px;
    }
    @media screen and (max-width: 320px){
        min-width: 250px;
        max-width: 260px;
        min-height: 250px;
        max-height: 250px;
    }
    .docInfo{
        display: flex;
        flex-direction: column;
        font-family: $mainFont;
    }
}
.card-doctor:hover{
    transform:scale(1.1);
    transition: 0.2s;  
    @media screen and (max-width: 375px){
        transform: none;
    } 
}
.up{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.down{
    min-height: 150px;
    width: inherit;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 990px){ 
        min-height: 100px;
    }
    @media screen and (max-width: 320px){
    min-height: 85px;
}
}
.clinic{
    font-size: 12px; 
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: inherit;
}
.address{
    font-size: 10px;  
}
.clinicLocation{
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 0 5px;
    overflow: hidden;
    text-align: start;
}
.photoDoctor{
    height: 150px;
    width: 150px;
    position: relative;
    overflow: hidden;
    -ms-flex-positive: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: 1px solid white;
    margin: 15px;
    .docImage{
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        width: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

.card:not(.card-grid_column) {
    margin-right: -5px;
    margin-left: -5px;
}
@media screen and (max-width: 1205px){
    .card-grid {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}

.doctor-card__wrapper {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.buttonDoc{
    background: $btnBoxColor;
    display: flex;
    width: 100%;
}

.buttonDoc .docButton{
    display: inline-block;
    justify-content: center;
    font-family: $mainFont,sans-serif;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1.125em 1.875em;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    background-color: hsla(0,0%,85%,.35);
    line-height: 1;
    padding: 1.125em 1em;
}
.buttonDoc .docButton:focus, .buttonDoc .docButton:hover {
    background-color: $btnColorHover;  
 
}
.doctorInfo{
    margin: 15px;
}
.nameDoctor{
    font-size: 16px;
    font-family: "Montserrat-extra-bold";
}
.speciality{
    font-size: 14px;
    text-align: center; 
}

.clinicImage {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    margin-right: 10px;
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #67C3F3;
    @media (min-width: 1024px){
        width: 48px;
        height: 48px;
        margin-right: 1.5rem; 
        .icon {
            height: 1.5rem;
            width: 1.5rem;
        }
        
    }
}

.appInfo{
    height: 50px;
    width: 50%;
    margin-left: 30px;
    span{
        font-family:  "Montserrat-Bold";
    }
}

.appTimeStatus{
    display: flex;
    flex-direction: row;
}