$mainFont: "Montserrat-Regular";
$buttonColor: rgb(118, 172, 245);
$btnRGBA: rgba(118, 172, 245, 1);

$bg: #F9FAFB;
$white: #ffff;
$black: #444;
$blue: #6dc3f5;
$drk-blue: #4a9ac8;
$drk-grey: #cccccc;
$grey: #dddddd;
$searchBtnColor: #00B4CC;


$btnBoxColor: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
$btnColorHover: #4281df;
$mainTextColor: #585f73;

$navHover :#FFD54F;
$verticalnavlinkcolor :#ffff;
$verticalnavlinkcolor-hover :#ffff;;

